.AD-add-user-button {
    background-color: #2eebf5;
    color: white;
}

.AD-add-user-button:hover {
    background-color: white;
    color: #2eebf5 !important;
    border: #2eebf5 1px solid !important;
}

.AD-add-branch-button {
    background-color: #4CAF50;
    color: white;
}

.AD-add-branch-button:hover {
    background-color: white;
    color: #4CAF50 !important;
    border: #4CAF50 1px solid !important;
}

.edit-button {
    background-color: #ffae4c;
    color: white;
}

.edit-button:hover {
    background-color: white;
    color: #ffae4c !important;
    border: #ffae4c 1px solid !important;
}

.assign-branch-button {
    background-color: #FFCC66;
    color: white;
}

.assign-branch-button:hover {
    background-color: white;
    color: #FFCC66 !important;
    border: #FFCC66 1px solid !important;
}

.transfer-branch-button{
    background-color: #00CC33;
    color: white;
}

.transfer-branch-button:hover {
    background-color: rgb(18, 211, 11);
    color: #00CC33 !important;
    border: #00CC33 1px solid !important;
}

.recoverpassword-button {
    background-color: #a09e9e;
    color: white;
}

.recoverpassword-button:hover {
    background-color: white;
    color: #a09e9e !important;
    border: #a09e9e 1px solid !important;
}

.delete-button {
    background-color: #f66e6e;
    color: white;
}

.delete-button:hover {
    background-color: white;
    color: #f66e6e !important;
    border: #f66e6e 1px solid !important;
}

.view-button {
    background-color: #3399ff;
    color: white;
}

.view-button:hover {
    background-color: white;
    color: #3399ff !important;
    border: #3399ff 1px solid !important;
}
