.custom-slider {
    padding: 20px;
    /*background: #f9f9f9;*/
    border-radius: 12px;
}

.slider-item {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background: white;*/
    /*border-radius: 8px;*/
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
    padding: 10px;
    text-align: center;
}