.us-event-container {
  text-align: center;
  padding: 40px 20px;
  background: #f9f9f9;
  margin: 10px;
  background: url("../../Assets/img/backgroundevent.avif") center/cover
    no-repeat;
  /* height: 150vh; */
  border-radius: 12px;
}

.us-event-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.us-event-type-filter,
.us-event-date-picker {
  width: 200px;
}

.us-event-header {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  /* Xanh pastel nhẹ */
  font-family: "Comic Sans MS", "Baloo", cursive;
  text-shadow: 3px 3px 0 #5a9bd4,
    /* Xanh dương đậm hơn */ 6px 6px 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.event-card {
  /*height: 100%;*/
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background: white;
}

.event-card:hover {
  transform: scale(1.03);
}

.event-image {
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.event-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.event-date,
.event-location {
  font-size: 14px;
  color: #555;
}

.event-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.event-btn {
  width: 90%;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s;
}

/*.detail-btn {*/
/*    background-color: #FF7676;*/
/*    border: none;*/
/*    color: white;*/
/*}*/

/*.detail-btn:hover {*/
/*    background-color: #E35D5D;*/
/*}*/

/*.register-btn {*/
/*    background-color: #3B71CA;*/
/*    border: none;*/
/*    color: white;*/
/*}*/

/*.register-btn:hover {*/
/*    background-color: #2E5AA3;*/
/*}*/
