.us-active-link {
    font-weight: bold !important;
    text-decoration: underline;
    color: #373535 !important;
}

.us-noti {
    margin-right: 32px;
}

@media (max-width: 768px) {
    .us-noti {
        margin-right: 8px;
    }
}

@media (max-width: 480px) {
    .us-noti {
        margin-right: 0;
    }
}

/* Hide logo when navbar is collapsed (below md = 768px) */
/* @media (max-width: 767.98px) {
    .user-navbar-logo {
        display: none !important;
    }
} */